# Valve Index HMD: fix blank EDID
# Trigger systemd service on device add.

ACTION=="add", SUBSYSTEM=="hidraw", KERNEL=="hidraw*", \
  ATTRS{idVendor}=="28de", ATTRS{idProduct}=="2300", \
  TAG+="systemd", ENV{SYSTEMD_WANTS}+="valve-index-hid-reboot@%k.service"
